# Environment variables
.env

# Database
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
media/

# IDE files
.idea/
.vscode/
*.swp
*.swo
crm/migrations/0001_initial.py
crm/migrations/0002_alter_userprofile_role.py
crm/migrations/0003_groupsettings.py
crm/migrations/0004_groupviewpermission_userviewpermission_viewpermission.py
crm/migrations/0005_auto_20250605_1245.py
crm/migrations/0002_add_2fa_fields.py
crm/migrations/0003_set_ga_enabled_default.py
crm/migrations/0003_set_ga_enabled_default.py
crm/migrations/0002_add_2fa_fields.py
crm/migrations/0003_set_ga_enabled_default.py
