{% extends 'crm/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Rejestracja | System Helpdesk{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Rejestracja</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <h5>Dane konta</h5>
                    {{ form|crispy }}
                    <hr>
                    <h5>Dane profilu</h5>
                    {{ profile_form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block mt-4">Zarejestruj</button>
                </form>
                <hr>
                <div class="text-center">
                    <small>
                        Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
